### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np 

pd.options.display.float_format = '{:,.2f}'.format
# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset. 
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()
#school_data_complete[['math_score']].head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
#average math score calcluation, need to format to only show two decimal places 
average_math_score = student_data['math_score'].mean()
average_reading_score = student_data['reading_score'].mean()


#once I had each invidual school added up, summed up the total number of schools
total_number_schools = len(school_data_complete['school_name'].unique())

#total number of students calculation 
total_number_students = len(school_data_complete['student_name'])

total_budget = school_data['budget'].sum()

print(f'The Total Number of Schools: ', total_number_schools)
print(f'The Total Number of Students: ', total_number_students) 
print(f'The Total Budget: $', total_budget)
print(f'The Average Math score: ', average_math_score)
print(f'The Average Reading score: ', average_reading_score)


# Calculate the percentage of students with a passing math score (70 or greater)
math_passing_df = student_data.loc[(student_data['math_score'] > 70)]
math_passing_len = len(math_passing_df) 
total_math_score_len = len(student_data['math_score']) 
math_passing_per = (math_passing_len / total_math_score_len) * 100 
print(f'The Percentage of Students with passing Math Score:  ' , math_passing_per, '%')

# Calculate the percentage of students with a passing reading score (70 or greater)
reading_passing_df = student_data.loc[(student_data['reading_score'] > 70)]

reading_passing_len = len(reading_passing_df) 
total_reading_score_len = len(student_data['reading_score']) 
reading_passing_per = (reading_passing_len / total_reading_score_len) * 100 
print(f'The Percentage of Students with Passing Reading Score:  ' , reading_passing_per, '%')

# Calculate the percentage of students who passed math and reading (% Overall Passing)
read_math_passing_df = student_data.loc[(student_data['reading_score'] > 70) & (student_data['math_score'] > 70)]
read_math_passing_len = len(read_math_passing_df)
total_student_ID = len(student_data['Student ID'])
read_math_passing_per = ((read_math_passing_len / total_student_ID)* 100)

print(f'The Percentage of Students with passing Math and Reading scores: ', read_math_passing_per, '%')

# Create a dataframe to hold the above results
district_df = pd.DataFrame({
    'Total Schools': [total_number_schools],
    'Total Number Students':[total_number_students],
    'Total Budget': [total_budget],
    'Average Math Score': [average_math_score],
    'Average Read Score': [average_reading_score],
    '% Passing Math': [math_passing_per],
    '% Passing Reading': [reading_passing_per],
    '% Overall Passing': [read_math_passing_per]
    })

district_df['% Passing Reading'] = district_df['% Passing Reading'].map('{:.02f}%'.format)
district_df['% Passing Math'] = district_df['% Passing Math'].map('{:.02f}%'.format)
district_df['% Overall Passing'] = district_df['% Overall Passing'].map('{:.02f}%'.format)
district_df['Total Budget'] = district_df['Total Budget'].map('${:.02f}'.format)

district_df.head()

The Total Number of Schools:  15
The Total Number of Students:  39170
The Total Budget: $ 24649428
The Average Math score:  78.98537145774827
The Average Reading score:  81.87784018381414
The Percentage of Students with passing Math Score:   72.39213683941792 %
The Percentage of Students with Passing Reading Score:   82.97166198621395 %
The Percentage of Students with passing Math and Reading scores:  60.801633903497574 %

,Total Schools,Total Number Students,Total Budget,Average Math Score,Average Read Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,$24649428.00,78.99,81.88,72.39%,82.97%,60.80%

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [3]:
#District groupby, type, student count
groupby_school = school_data_complete.set_index('school_name').groupby(['school_name'])
school_type = school_data.set_index('school_name')['type']
student_per_district = groupby_school['Student ID'].count()

#index by budget, calculate student per budget 
school_budget = school_data.set_index('school_name')['budget']
student_budget = school_data.set_index('school_name')['budget']/school_data.set_index('school_name')['size']

#calculate average math and reading scores using groupby school 
avg_m_score = school_data_complete.groupby('school_name')['math_score'].mean()
avg_r_score = school_data_complete.groupby('school_name')['reading_score'].mean()

#overall math/reading percentage groupby district 
pass_math_per = school_data_complete[school_data_complete['math_score'] >= 70].groupby('school_name')['Student ID'].count()/student_per_district * 100
pass_reading_per = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('school_name')['Student ID'].count()/student_per_district * 100
passing_r_m_per = (pass_math_per + pass_reading_per) / 2

#results in dataframe 
school_df = pd.DataFrame({
    'Total Number of Schools': school_type,
    'Total Students per district': student_per_district,
    'Per Student Budget': student_budget,
    'Total School Budget': school_budget,
    'Average Math Score per district': avg_m_score,
    'Average Reading Score per district': avg_r_score,
    '% Passing Math per district': pass_math_per,
    '% Passing Reading per district': pass_reading_per,
    'Overall Passing Rate per district': passing_r_m_per
})


school_df['% Passing Reading per district'] = school_df['% Passing Reading per district'].map('{:.02f}%'.format)
school_df['% Passing Math per district'] = school_df['% Passing Math per district'].map('{:.02f}%'.format)
school_df['Overall Passing Rate per district'] = school_df['Overall Passing Rate per district'].map('{:.02f}%'.format)
school_df['Total School Budget'] = school_df['Total School Budget'].map('${:.02f}'.format)
school_df['Per Student Budget'] = school_df['Per Student Budget'].map('${:.02f}'.format)
school_df['Average Math Score per district'] = school_df['Average Math Score per district'].map('{:.02f}'.format)
school_df['Average Reading Score per district'] = school_df['Average Reading Score per district'].map('{:.02f}'.format)

school_df.head()

,Total Number of Schools,Total Students per district,Per Student Budget,Total School Budget,Average Math Score per district,Average Reading Score per district,% Passing Math per district,% Passing Reading per district,Overall Passing Rate per district
school_name,,,,,,,,,
Bailey High School,District,4976,$628.00,$3124928.00,77.05,81.03,66.68%,81.93%,74.31%
Cabrera High School,Charter,1858,$582.00,$1081356.00,83.06,83.98,94.13%,97.04%,95.59%
Figueroa High School,District,2949,$639.00,$1884411.00,76.71,81.16,65.99%,80.74%,73.36%
Ford High School,District,2739,$644.00,$1763916.00,77.10,80.75,68.31%,79.30%,73.80%
Griffin High School,Charter,1468,$625.00,$917500.00,83.35,83.82,93.39%,97.14%,95.27%

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [4]:
#ascending = false to sort values from highest to lowest
top_schools = school_df.sort_values('Overall Passing Rate per district', ascending = False)
top_schools.head(5)

,Total Number of Schools,Total Students per district,Per Student Budget,Total School Budget,Average Math Score per district,Average Reading Score per district,% Passing Math per district,% Passing Reading per district,Overall Passing Rate per district
school_name,,,,,,,,,
Cabrera High School,Charter,1858,$582.00,$1081356.00,83.06,83.98,94.13%,97.04%,95.59%
Thomas High School,Charter,1635,$638.00,$1043130.00,83.42,83.85,93.27%,97.31%,95.29%
Griffin High School,Charter,1468,$625.00,$917500.00,83.35,83.82,93.39%,97.14%,95.27%
Pena High School,Charter,962,$609.00,$585858.00,83.84,84.04,94.59%,95.95%,95.27%
Wilson High School,Charter,2283,$578.00,$1319574.00,83.27,83.99,93.87%,96.54%,95.20%

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [5]:
#ascending = True to sort values from lowest to highest  
btm_schools = school_df.sort_values('Overall Passing Rate per district', ascending = True)
btm_schools.head()

,Total Number of Schools,Total Students per district,Per Student Budget,Total School Budget,Average Math Score per district,Average Reading Score per district,% Passing Math per district,% Passing Reading per district,Overall Passing Rate per district
school_name,,,,,,,,,
Rodriguez High School,District,3999,$637.00,$2547363.00,76.84,80.74,66.37%,80.22%,73.29%
Figueroa High School,District,2949,$639.00,$1884411.00,76.71,81.16,65.99%,80.74%,73.36%
Huang High School,District,2917,$655.00,$1910635.00,76.63,81.18,65.68%,81.32%,73.50%
Johnson High School,District,4761,$650.00,$3094650.00,77.07,80.97,66.06%,81.22%,73.64%
Ford High School,District,2739,$644.00,$1763916.00,77.10,80.75,68.31%,79.30%,73.80%

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [6]:
ninth_grade = student_data.loc[student_data['grade'] == '9th'].groupby('school_name')['math_score'].mean()
tenth_grade = student_data.loc[student_data['grade'] == '10th'].groupby('school_name')['math_score'].mean()
eleventh_grade = student_data.loc[student_data['grade'] == '11th'].groupby('school_name')['math_score'].mean()
twelfth_grade = student_data.loc[student_data['grade'] == '12th'].groupby('school_name')['math_score'].mean()

combined_scores_df = pd.DataFrame ({
    '9th Grade Math Score Average': ninth_grade,
    '10th Grade Math Score Average': tenth_grade,
    '11th Grade Math Score Average': eleventh_grade,
    '12th Grade Math Score Average': twelfth_grade,
    
})


combined_scores_df['9th Grade Math Score Average'] = combined_scores_df['9th Grade Math Score Average'].map('{:.02f}'.format)
combined_scores_df['10th Grade Math Score Average'] = combined_scores_df['10th Grade Math Score Average'].map('{:.02f}'.format)
combined_scores_df['11th Grade Math Score Average'] = combined_scores_df['11th Grade Math Score Average'].map('{:.02f}'.format)
combined_scores_df['12th Grade Math Score Average'] = combined_scores_df['12th Grade Math Score Average'].map('{:.02f}'.format)



combined_scores_df.head()

,9th Grade Math Score Average,10th Grade Math Score Average,11th Grade Math Score Average,12th Grade Math Score Average
school_name,,,,
Bailey High School,77.08,77.00,77.52,76.49
Cabrera High School,83.09,83.15,82.77,83.28
Figueroa High School,76.40,76.54,76.88,77.15
Ford High School,77.36,77.67,76.92,76.18
Griffin High School,82.04,84.23,83.84,83.36

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [7]:
ninth_grade_reading = student_data.loc[student_data['grade'] == '9th'].groupby('school_name')['reading_score'].mean()
tenth_grade_reading = student_data.loc[student_data['grade'] == '10th'].groupby('school_name')['reading_score'].mean()
eleventh_grade_reading = student_data.loc[student_data['grade'] == '11th'].groupby('school_name')['reading_score'].mean()
twelfth_grade_reading = student_data.loc[student_data['grade'] == '12th'].groupby('school_name')['reading_score'].mean()

combined_scores_reading_df = pd.DataFrame ({
    '9th Grade Reading Score Average': ninth_grade_reading,
    '10th Grade Reading Score Average': tenth_grade_reading,
    '11th Grade Reading Score Average': eleventh_grade_reading,
    '12th Grade Reading Score Average': twelfth_grade_reading,
    
})


combined_scores_reading_df['9th Grade Reading Score Average'] = combined_scores_reading_df['9th Grade Reading Score Average'].map('{:.02f}'.format)
combined_scores_reading_df['10th Grade Reading Score Average'] = combined_scores_reading_df['10th Grade Reading Score Average'].map('{:.02f}'.format)
combined_scores_reading_df['11th Grade Reading Score Average'] = combined_scores_reading_df['11th Grade Reading Score Average'].map('{:.02f}'.format)
combined_scores_reading_df['12th Grade Reading Score Average'] = combined_scores_reading_df['12th Grade Reading Score Average'].map('{:.02f}'.format)



combined_scores_reading_df.head()

,9th Grade Reading Score Average,10th Grade Reading Score Average,11th Grade Reading Score Average,12th Grade Reading Score Average
school_name,,,,
Bailey High School,81.30,80.91,80.95,80.91
Cabrera High School,83.68,84.25,83.79,84.29
Figueroa High School,81.20,81.41,80.64,81.38
Ford High School,80.63,81.26,80.40,80.66
Griffin High School,83.37,83.71,84.29,84.01

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [8]:
bins = [0, 586, 631, 646, 1000]

spending_range = ['<$585', '$585-$630', '$631-$645', '>680']
school_data_complete['bins'] = pd.cut(school_data_complete['budget']/school_data_complete['size'], bins, labels = spending_range)

bin_schools = school_data_complete.groupby('bins')

#calculations 
average_math_score = bin_schools['math_score'].mean()
average_reading_score = bin_schools['reading_score'].mean()

percent_passing_math = school_data_complete[school_data_complete['math_score'] >= 70].groupby('bins')['Student ID'].count()/bin_schools['Student ID'].count() * 100
percent_passing_reading = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('bins')['Student ID'].count()/bin_schools['Student ID'].count() * 100
overall = (percent_passing_math + percent_passing_reading) / 2 

bin_scores_df = pd.DataFrame ({
    'Average Math Score': average_math_score,
    'Average Reading Score': average_reading_score,
    'Passing Math': percent_passing_math,
    'Passing Reading': percent_passing_reading,
    'Overall Passing Rate': overall,
})

bin_scores_df['Average Math Score'] = bin_scores_df['Average Math Score'].map('{:.02f}'.format)
bin_scores_df['Average Reading Score'] = bin_scores_df['Average Reading Score'].map('{:.02f}'.format)
bin_scores_df['Passing Math'] = bin_scores_df['Passing Math'].map('{:.02f}%'.format)
bin_scores_df['Passing Reading'] = bin_scores_df['Passing Reading'].map('{:.02f}%'.format)
bin_scores_df['Overall Passing Rate'] = bin_scores_df['Overall Passing Rate'].map('{:.02f}%'.format)

bin_scores_df.head()

,Average Math Score,Average Reading Score,Passing Math,Passing Reading,Overall Passing Rate
bins,,,,,
<$585,83.36,83.96,93.70%,96.69%,95.19%
$585-$630,79.98,82.31,79.11%,88.51%,83.81%
$631-$645,77.82,81.30,70.62%,82.60%,76.61%
>680,77.05,81.01,66.23%,81.11%,73.67%

## Scores by School Size

* Perform the same operations as above, based on school size.

In [9]:
bins = [0, 1000, 2000, 5000]
bin_names = ['Small(<1000)', 'Medium(1000-2000)', 'Large(2000-5000)']
school_data_complete['size_bins'] = pd.cut(school_data_complete['size'], bins, labels = bin_names) 
groupby_size = school_data_complete.groupby('size_bins')

#calculations 
average_math_score = groupby_size['math_score'].mean()
average_reading_score = groupby_size['reading_score'].mean()


percent_passing_math = school_data_complete[school_data_complete['math_score'] >= 70].groupby('size_bins')['Student ID'].count()/groupby_size['Student ID'].count() * 100
percent_passing_reading = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('size_bins')['Student ID'].count()/groupby_size['Student ID'].count() * 100
overall = (percent_passing_math + percent_passing_reading) / 2 

percent_passing_math

bin_size_scores_df = pd.DataFrame ({
    'Average Math Score': average_math_score,
    'Average Reading Score': average_reading_score,
    'Passing Math': percent_passing_math,
    'Passing Reading': percent_passing_reading,
    'Overall Passing Rate': overall,
})

bin_size_scores_df['Average Math Score'] = bin_size_scores_df['Average Math Score'].map('{:.02f}'.format)
bin_size_scores_df['Average Reading Score'] = bin_size_scores_df['Average Reading Score'].map('{:.02f}'.format)
bin_size_scores_df['Passing Math'] = bin_size_scores_df['Passing Math'].map('{:.02f}%'.format)
bin_size_scores_df['Passing Reading'] = bin_size_scores_df['Passing Reading'].map('{:.02f}%'.format)
bin_size_scores_df['Overall Passing Rate'] = bin_size_scores_df['Overall Passing Rate'].map('{:.02f}%'.format)

bin_size_scores_df.head()

,Average Math Score,Average Reading Score,Passing Math,Passing Reading,Overall Passing Rate
size_bins,,,,,
Small(<1000),83.83,83.97,93.95%,96.04%,95.00%
Medium(1000-2000),83.37,83.87,93.62%,96.77%,95.19%
Large(2000-5000),77.48,81.20,68.65%,82.13%,75.39%

## Scores by School Type

* Perform the same operations as above, based on school type

In [10]:

groupby_type = school_data_complete.groupby('type')

#calculations 
average_math_score = groupby_type['math_score'].mean()
average_reading_score = groupby_type['reading_score'].mean()


percent_passing_math = school_data_complete[school_data_complete['math_score'] >= 70].groupby('type')['Student ID'].count()/groupby_type['Student ID'].count() * 100
percent_passing_reading = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('type')['Student ID'].count()/groupby_type['Student ID'].count() * 100
overall = (percent_passing_math + percent_passing_reading) / 2 


type_scores_df = pd.DataFrame ({
     'Average Math Score': average_math_score,
     'Average Reading Score': average_reading_score,
     'Passing Math': percent_passing_math,
     'Passing Reading': percent_passing_reading,
     'Overall Passing Rate': overall,
})

type_scores_df['Average Math Score'] = type_scores_df['Average Math Score'].map('{:.02f}'.format)
type_scores_df['Average Reading Score'] = type_scores_df['Average Reading Score'].map('{:.02f}'.format)
type_scores_df['Passing Math'] = type_scores_df['Passing Math'].map('{:.02f}%'.format)
type_scores_df['Passing Reading'] = type_scores_df['Passing Reading'].map('{:.02f}%'.format)
type_scores_df['Overall Passing Rate'] = type_scores_df['Overall Passing Rate'].map('{:.02f}%'.format)
type_scores_df.head()



type_scores_df.head()

,Average Math Score,Average Reading Score,Passing Math,Passing Reading,Overall Passing Rate
type,,,,,
Charter,83.41,83.90,93.70%,96.65%,95.17%
District,76.99,80.96,66.52%,80.91%,73.71%

In [ ]:
'''
Analysis: 

Spending more per student did not correlate to higher scores or greater passing rate. 

Smaller schools performed better across all tracked metrics in math and reading. Passing rate was higher on mid to small 
sized schools but no obvious conclusion to be drawn. Large schools tend to produce significantly worse than school 
less than 3000 students. 

Charter schools across all tracked metrics in math, reading, and overall passing rate outperformed District schools by
a wide margin. 


'''